.head{
  background-color:black;
}
h1{
  border: 1pc;
  background-color: red;
}
head{
  border: 12px;
  background-color: black;
}
img{
  width: 300px;
  height: 400px;
}
body{
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 20%;
  gap: 20;
}